*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: currentColor solid 1px;
  min-width: 194px;
  padding: 5px 0px;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 1fr;
  align-items: end;
  gap: 30px;
  min-height: 534px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 2px;
}

.content__list-container {
  max-height: 302px;
  overflow: auto;
  max-width: 399px;
  position: relative;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 711px;
  max-height: 386px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin: 3px 3px 0px;
  flex-wrap: nowrap;
  align-self: start;
  position: static;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  max-width: 194px;
  min-width: 194px;
  max-height: 105px;
  object-position: center;
  object-fit: cover;
  align-self: end;
}

.content__video-card-description-container {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: #fff 2px solid;
}

.title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
}

.content__accent:first-child {
  color: #545050;
}

.content__card-link {
  color: inherit;
  text-decoration: none;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  overflow: clip;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 196px;
  line-height: 115%;
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  font-family: 'Fira Sans Condensed' sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield {
  all: unset;
  background-color: transparent;
  text-decoration: overline;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  border-left: transparent solid 1px;
  border-right: transparent solid 1px;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 50;
  appearance: none;
  min-width: 225px;
  color: white;
}

.search-form__textfield:active {
  border: white solid 1px;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
  border: none;
}

.search-form__textfield:focus-visible {
  outline: #fff 1px solid;
  outline-offset: 2px;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff 1px solid;
  outline-offset: 1px;
}

.more-button {
  width: 99%;
  padding: 6px 0px;
  bottom: 1px;
  margin-left: 2px;
  margin-bottom: 3px;
  display: block;
  margin-top: 30px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.search-form__checkbox-list {
  display: flex;
  min-width: 212px;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: #fff 1px solid;
  outline-offset: 1px;
}

.search-form__submit-button {
  justify-self: end;
  align-self: end;
}

.content__card-link_current {
  background-color: #545050;
}